@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-black-transparent {
  background-color: rgba(0, 0, 0, 0.5);
}

.hide-menu {
  @apply transition-all;
  @apply duration-300;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 16px;
  background-image: url(/images/bg-menu.jpg);
  background-size: cover;
  @apply fixed;
  transform: translateX(-10000px);
}

.show-menu {
  @apply transition-all;
  @apply duration-300;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 16px;
  background-image: url(/images/bg-menu.jpg);
  background-size: cover;
  @apply fixed;
  transform: translateX(0);
}

.bg-header {
  background-image: url(/images/bg-header.jpg);
  background-size: cover;
}

.box-grid-service {
  height: 360px;
  border: 1px solid #d4d4d8;
  overflow: hidden;
}

.box-grid-service:first-child {
  background-image: url(/images/bg-what-we-do-small.jpg);
  background-size: cover;
}

.bg-content-home {
  background-image: url(/images/bg-why-choose-new.jpg);
  background-size: cover;
}

footer {
  background-image: url(/images/bg-footer.jpg);
  background-size: cover;
}

.box-service-hover {
  transform: translateY(400px);
  transition: all ease-in-out 0.3s;
}

.box-grid-service:hover > .box-service-hover {
  transform: translateY(0);
}

.box-service-hover span::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 50px;
  height: 1px;
  background-color: #00bff3;
  transform: translateX(-25px);
}

.img-hover {
  transform: translateZ(0);
  backface-visibility: hidden;
}

.img-hover:hover {
  transform: scale(1.1);
}

.bg-about-left {
  background-image: url(/images/bg-what-we-do.jpg);
  background-size: cover;
  background-position: center;
}

.bg-about-right {
  background-image: url(/images/bg-header.jpg);
  background-size: cover;
  background-position: center;
}

.bg-service-home {
  background-image: url(/images/bg-what-we-do.jpg);
  background-size: cover;
  /* background-position: center; */
}

.bg-main-services {
  background-image: url(/images/bg-service.jpg);
  background-size: cover;
}

.bg-career {
  background-image: url(/images/bg-career.jpg);
  background-size: cover;
}

.bg-contact {
  background-image: url(/images/bg-contact-us.jpg);
  background-size: cover;
}

.bg-products {
  background-image: url(/images/bg-service.jpg);
  background-size: cover;
}

.visi-misi h3::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  bottom: -10px;
  left: 0;
}

.mapboxgl-control-container {
  display: none;
}

.link {
  cursor: pointer;
}

.onshow {
  transform: translateY(0);
}

.onhidden {
  transform: translateY(-900px);
}

.toggle {
  position: relative;
  width: 100px;
  height: 100px;
  z-index: 999;
}

.toggle:focus {
  outline: none;
}

.toggle > span:nth-child(1),
.toggle > span:nth-child(2),
.toggle > span:nth-child(3) {
  position: absolute;
  top: 0;
  right: 0;
  @apply bg-white;
  @apply transition-all;
  @apply duration-300;
  content: "";
  height: 3px;
  transform-origin: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.toggle > span:nth-child(1) {
  top: 24%;
  width: 30px;
}

.toggle > span:nth-child(2) {
  top: 40%;
  width: 70px;
}

.toggle > span:nth-child(3) {
  top: 57%;
  width: 50px;
}

.toggle.active > span:nth-child(1),
.toggle.active > span:nth-child(3) {
  width: 70px;
  top: 50%;
}

.toggle.active > span:nth-child(2) {
  opacity: 0;
}

.toggle.active > span:nth-child(1) {
  transform: translateY(-50%) rotate(-45deg);
}

.toggle.active > span:nth-child(3) {
  transform: translateY(-50%) rotate(45deg);
}

.my-map {
  height: 360px;
}

.scroll-top {
  width: 40px;
  height: 40px;
  background-color: #07215e;
  transform: rotate(45deg);
}

.switch-theme {
  transform: translateY(0);
}

@media only screen and (max-width: 768px) {
  .bg-about-left {
    background-image: none;
  }

  .bg-black-transparent {
    background-color: #07215e;
  }

  .toggle {
    position: relative;
    width: 30px;
    height: 30px;
    z-index: 999;
  }

  .toggle > span:nth-child(1),
  .toggle > span:nth-child(2),
  .toggle > span:nth-child(3) {
    height: 2px;
  }

  .toggle > span:nth-child(1) {
    top: 24%;
    width: 15px;
  }

  .toggle > span:nth-child(2) {
    top: 40%;
    width: 30px;
  }

  .toggle > span:nth-child(3) {
    top: 57%;
    width: 20px;
  }

  .toggle.active > span:nth-child(1),
  .toggle.active > span:nth-child(3) {
    width: 30px;
    top: 50%;
  }

  .toggle.active > span:nth-child(2) {
    opacity: 0;
  }

  .toggle.active > span:nth-child(1) {
    transform: translateY(-50%) rotate(-45deg);
  }

  .toggle.active > span:nth-child(3) {
    transform: translateY(-50%) rotate(45deg);
  }

  .my-map {
    height: 150px;
  }
}
